body{
    background-color: #333;
}

/* .header{
    padding: 40px;
    color: #fff;
    margin: 0 auto;
    margin-bottom: 40px;
}
.header h1,p{
    text-align: center;
} */

.wheel{
    align-self: center;
    display: flex;
    justify-content: center;
    position: relative;
}

.center-circle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    align-content: center;
    cursor: pointer;
    box-shadow: 0 5px 20px #000;
    font-size: 3rem;
}

.center-circle:hover{
    width: 210px;
    height: 210px;
    font-weight: bold;
}

.triangle{
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-right: 30px solid white; 
    position: absolute;
    top: 50%;
    right: 26%;
    transform: translateY(-50%);
}
textarea{
    background-color: rgba(20, 20, 20, 0.2);
    caret-color: #fff;
    resize: none;
    color: #fff;
}
.inputArea{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
audio{
    display: none;
}