body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
}

.wheel-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 15px 50px #fff;
    background: red;
}

#wheel-wrapper {
    width: 500px;
    height: 500px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
    position: absolute;
    transition: transform 5s cubic-bezier(0.17, 0.67, 0.83, 0.67);
    box-shadow: 0 15px 50px #333;
    border-radius: 50%;
}

.center-button {
    width: 200px;
    height: 200px;
    font-size: 3rem;
    cursor: pointer;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    box-shadow: 0 15px 50px #000;
    background: white;
    color: black;
    z-index: 10;
}

.center-button:hover{
    width: 210px;
    height: 210px;
    font-weight: bold;
}

.triangle{
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-right: 30px solid white; 
    position: absolute;
    top: 50%;
    right: -73%;
    transform: translateY(-50%);
}

#customModal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: black;
    color: white;
    padding: 20px;
    border-radius: 10px;
    border: 3px solid cyan;
    width: 20%;
    height: 25%;
    text-align: center;
    z-index: 15;
    animation: neonBorder 0.3s infinite linear;
}
@keyframes neonBorder {
    0% { border-color: red; color: red; box-shadow: 0 0 10px red; }
    25% { border-color: yellow; color:yellow; box-shadow: 0 0 10px yellow; }
    50% { border-color: lime; color: lime; box-shadow: 0 0 10px lime; }
    75% { border-color: cyan; color: cyan; box-shadow: 0 0 10px cyan; }
    100% { border-color: red; color: red; box-shadow: 0 0 10px red; }
}

p {
    font-size: 2rem;
}

.modalBtn {
    cursor: pointer;
}

#closeBtn{
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    right: 0;
    text-align: center;
    border-radius: 50%;
    background-color: red;
    animation: neonBorder 0.3s infinite linear;
}

#recieveBtn{
    font-weight: normal;
    font-size: 2rem;
    width: 26%;
    height: 22%;
    border-radius: 7%;
}
#recieveBtn:hover{
    width: 27%;
    height: 23%;
    font-weight: 600;
}

input{
    position: absolute;
    top: 0;
    left: 0;
}

#shuffleBtn{
    position: absolute;
    top: 4%;
    left: 0;
}

audio{
    display: none;
}

canvas {
    background: transparent;
    pointer-events: none;
}